{:paths ["src/main" "resources"]
 :deps {org.clojure/clojurescript {:mvn/version "1.12.145"}
        org.clojure/core.async {:mvn/version "1.6.681"}
        cljs-http/cljs-http {:mvn/version "0.1.48"}
        reagent/reagent {:mvn/version "2.0.1"
                         :exclusions [cljsjs/react cljsjs/react-dom]}}
 :aliases {:dev {:extra-paths ["src/dev"]
                 :extra-deps {thheller/shadow-cljs {:mvn/version "3.4.11"}
                              binaryage/devtools {:mvn/version "1.0.7"}}}}}
